@font-face {
    font-family: 'Vollkorn';
    src: url("../fonts/vollkorn/Vollkorn-VariableFont_wght.ttf");
    font-display: swap;
}

body {
    font-family: "Vollkorn";
    font-variant-ligatures: no-common-ligatures;
    text-rendering: optimizeLegibility;
    /*-webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

hr {
    height: 0px;
    border: 0.5px solid rgb(221, 221, 221)
}

/* 
Apperently Safari is much bolder than other browsers.
Override default boldness here so it is consistant
*/
strong {
    font-weight: 590;
}

blockquote {
    border-left: 2px solid #3754aa;
    padding-left: 1rem;
}

h1,.h1 {
    font-size: 2.5em;
    line-height: calc(1ex / 0.42);
    font-weight: 500;

}

h2,.h2 {
    font-size: 2em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
    font-weight: 500;
}

h3,.h3 {
    font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
    font-weight: 500;
}

h4,.h4 {
    font-size: 1.5em;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37) 0;
    font-weight: 500;
}

p {
    line-height: calc(1ex / 0.32);
    margin: calc(1ex / 0.32) 0;
}

h5,
.h5 {
    font-size: 1.125rem;
    font-weight: 500;
}
h6,
.h6 {
    font-size: 1rem;
    font-weight: 500;
}

article {
    word-wrap: break-word;
    max-width: 100%;

}

#TableOfContents-div {
    position:sticky;
    top: 72px;
    z-index: 2;
}

#TableOfContents ul {
    list-style-type:none;
    counter-reset:list;
    font-size: 1.1em;
}

#TableOfContents ul li a {
    text-decoration: none;
}

#TableOfContents ul li a:hover {
    text-decoration: underline;
}

#TableOfContents ul li {
    margin-bottom: 0.4em;
}

#TableOfContents ul li:before{
    counter-increment:list;
    content: counters(list, ".") ". ";
    padding: 0.2em;
}

/*article #article_content {

    margin: 3rem auto 15vh;
}*/

#article_content img {
    max-width: 100%;
}

article h1 {
    font-size: 3rem;
}

article p, article ul {
    font-size: 1.1rem;
}

article .wide-img {
    max-width: initial;
    width: calc(100% + 180px + 180px);
    margin-left: -180px;
}

@supports (font-size-adjust: 1;) {
    article {
        font-size-adjust: 0.5;
    }
}

pre:not([class]) {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    padding: 1em;
    border: 1px solid #3a3d47;
    margin-bottom: 1em;
    word-wrap: anywhere;
}

article p > code:not([class]) {
    border: 1px solid #3a3d47;
    padding: 2px 5px;
    background: #17181c;
    border-radius: 4px;
    font-weight: bold;
    color: azure;
    font-size: 0.9rem;
}

.logo-title a {
    text-decoration: none;
    color:#17181c;
}

a {
    text-decoration: underline;
    color:#17181c;
    transition: color 0.5s ease;
}

a:hover {
    color: #3754aa;
}

nav#menu ul {
    padding-left: 0;
}

nav#menu ul li {
    display: inline;
    padding-right: 2em;
}

nav#menu ul li a {
    text-decoration: none;
    color:#17181c;
    cursor: pointer;
}

nav#menu ul li a:hover {
    color: #525252;
    text-decoration: underline;
}


.list-articles a {
    text-decoration: none;
}

.list-articles h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.list-article-post {
    margin-bottom: 3rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.list-article-category small, .list-article-category a {
    color: #4d515e;
}

.list-article-category small a {
    text-decoration: underline;
}

.list-article-category small a:hover {
    text-decoration: underline;
    color: #3754aa;
}