@font-face {
    font-family: 'DM Mono';
    src: url("fonts/DM_Mono/DMMono-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url("fonts/DM_Mono/DMMono-Medium.ttf");
    font-weight: bold;
    font-display: swap;
}


@font-face {
    font-family: 'DM Sans';
    src: url("fonts/DM_Sans/DMSans-Regular.ttf") format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url("fonts/DM_Sans/DMSans-Bold.ttf");
    font-display: swap;
    font-weight: bold;
}


@font-face {
    font-family: 'DM Sans';
    src: url("fonts/DM_Sans/DMSans-Italic.ttf");
    font-display: swap;
    font-style: italic;
}

body {
    font-family: "DM Sans", -apple-system,BlinkMacSystemFont,"Helvetica Neue","Roboto",Roboto,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #495057;
    line-height: 1.75;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

nav {
    margin:0;
    background-color: #1b1d25;
    padding: 1.5em 1em 0em 0;
}

.nav-title {
    font-size: 1.5rem;
    color: #fff;
    font-family: "DM Mono", Menlo, monospace;
}

nav .nav-title a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    position: relative;
    top: -1em;
    left: 1em;
}

nav .nav-title .favicon {
    height: 64px;
    width: 64px;
}

nav .nav-links {
    margin-top: 0.8em;
}

nav .nav-links li {
    display: inline;
    margin-left: 1em;
}

nav .nav-links li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: grey;
    transition: color 0.5s ease;
}

nav .nav-links li a:hover {
    color: whitesmoke;
}

nav .nav-links li .kofi {
    max-width: 38px;
}

main {
    overflow: hidden;
}

blockquote,
dl,
ol,
p,
table,
ul {
 font-size: 1.05rem;
 margin: 0 0 1.5rem;
}

article h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

.menlo-h2 {
    font-size: 2rem;
}

main .post:hover {
    
    background: #f1f4f8;
    border-radius: 4px;
}


main .post a {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: .75rem 1rem;
    text-decoration: none;
}

main .post time {
    flex: 0 0 100px;
    color: #858b93;
    text-transform: capitalize;
    font-family: "DM Mono", Menlo, monospace;
}

.hr {
    height: 3px;
    width: 100%;
    background-color: #1b1d25;
}

.hr.white {
    background-color: rgb(212, 212, 212)
}

.projects a {
    text-decoration: none;
}

.projects p {
    margin-top:0;
    padding-top:0;
    color: #858b93;
    font-size: 1em;
}

.projects div {
    padding: 1em;
}

.projects h4 {
    font-weight: 700;
    color: rgb(82, 82, 82);
    margin-bottom: 0;
}

footer {
    margin: 2em 0 2em 0;
}

.article-header {
    background: #f1f4f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em 0 1em 0;
    margin-bottom: 1em;
}

.article-header .desc {
    font-size: 1.8rem;
    line-height: 1.5;
    padding-bottom: 0;
    margin-top: 1rem;
    color: #858b93;
    font-weight: 300;
}

.post h3 {
    margin: 0;
    color: #495057;
}

.meta-info {
    margin: 0 0 1rem 0;
    font-size: 1rem;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5;
}

article code {
    font-size: 0.8rem;
}

:not(pre) > code {
    padding: 5px;
    border: 1px solid rgba(0,0,0,.05);
    background: #f1f4f8;
    color: #1b1d25;
    box-shadow: none;
}

.tag {
    background: #6a8193;
    padding: .5em;
    display: inline-block;
    border-radius: .3em;
    font-weight: bold;
    font-size: 75%;
    font-weight: 700;
    margin: 0.2em;
    cursor: pointer;
}

.tag a {
    color: #fff;
    text-decoration: none;
}

.tag:hover, .highlight {
    background: #2a2c2d;
    color: #FFFFFF;
}

.close {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}

.close:hover {
    color: red;
}

blockquote {
    color: rgba(0,0,0,.7);
    border: 2px solid #5183f5;
    background: #edf2ff;
    border-radius: 4px;
    margin: 1.5rem 0;
    padding: 1rem;
    line-height: 1.6;
    font-size: 1rem;
}

input[type="search"] {
    padding: .8rem 1rem;
    background: #f1f4f8;
    border: 2px solid #d6d9de;
    width: 100%;
    max-width: 400px;
    border-radius: .35rem;
    font-size: 1rem;
    -webkit-appearance: none;
    margin-left: auto;
    margin-right: auto;
}


input[type="search"]:focus {
    outline: none;
}

footer p {
    font-size: 1rem;
    color: #858b93;
}

footer a {
    color: #858b93;
    text-decoration: none;
    transition: color 0.5s ease;
}

footer a:hover {
    color: #5183f5;
}

@media only screen and (min-width: 800px) {

    nav {
        padding-left: 1em;
    }

    .container > .row {
        text-align: inherit;
    }

    .nav-links {
        text-align: right;
    }

    .article-image {
        text-align: right;
    }
}

@media screen and (min-width:800px) {
    blockquote,
    dl,
    ol,
    p,
    table,
    ul {
     font-size: 1.25rem;
    }
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-margin-top: 95px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  font-size: 1.7rem;
  line-height: 1.1;
  letter-spacing: -0.15rem;
  color: #343a40;
  -webkit-font-smoothing: subpixel-antialiased;
}

h2 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  letter-spacing: -0.1rem;
  -webkit-font-smoothing: subpixel-antialiased;
}

h2 code {
  font-size: 1.75rem !important;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

h1, h2 {
    font-family: "DM Mono", Menlo, monospace;
    color: #343a40;
}

article h2 {
    font-size: 2rem;
    border-bottom: 3px solid #1b1d25;
    padding-bottom: .5rem;
    padding-top: 1rem;
}

article h2, article h3, article h4, article h5, article h6 {
    margin: 0 0 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #343a40;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
}

.post h3 {
    margin-top: 0;
    font-size: 1.15rem;
}

.article-header h1, .article-h1 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.15;
}


@media screen and (min-width: 800px) {

    p.subtitle {
        font-size:1.6rem;
        line-height:1.5
    }

    .post h3 {
        font-size: 1.4rem;
        letter-spacing: -.02rem;
        margin-top: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      scroll-margin-top: 80px;
    }
  
    h1 {
      font-size: 3rem;
      letter-spacing: -0.1rem;
    }

    h2 {
      font-size: 2.2rem;
      letter-spacing: -0.1rem;
    }
  
    h2 code {
      font-size: 1.9rem !important;
    }
  
    h3 {
      font-size: 1.8rem;
      color: var(--font-color);
      font-weight: 600;
    }
  
    h3 code {
      font-size: 1.6rem !important;
    }
  
    h4 {
      font-weight: 600;
      font-size: 1.5rem;
    }

  }

@media screen and (min-width: 800px) {
    .article-header h1, .article-h1 {
        font-size: 2.3rem;
        line-height: 1.1;
    }
}